
    .title{
    border-radius: 10px;
    margin-bottom: 10px;
    text-align:center;
    width: 210px;
    color:black;
    font-size: 50px;
    
    }
    input[type="button"]
    {
    border-radius: 20px;
    background-color:rgb(187, 187, 190);
    color: rgb(8, 8, 8);
    border-color:#3d3737 ;
    width:100%;
    padding: 40px;
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
    }
    input[type="text"]
    {
    border-radius: 0px;
    text-align: right;
    background-color:white;
    border-color: black ;
    width:100%;
    padding: 40px;
    font-size:40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif 
    }
